@forward 'typography';
@use 'typography/color' as color;
@forward 'func' ;
@use './func/' as layout;
@use 'typography/text' as text;
@use './breakpoint/' as break;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body{
    background-color: color.$cream;
    
}
.App{
    @include layout.gridCenter();
    height: 100vh;
    .wrapper{
        
        max-width: 43rem;
        
        @include layout.flexCenter();
        img{
        
            width: 335px;
            border-radius: 10px 0 0 10px;
            
        }
        .card{
            border-radius: 0 10px 10px 0;
            background-color: color.$white;
            font-family: text.$family-mon;
            padding: 3rem;
            word-wrap: break-word;
            
            h3{
                margin: 10px 0;
                text-transform: uppercase;
                padding-bottom: 10px;
                font-weight: 500;
                color: color.$darkerBlue;
            }
            h1{
                margin: 10px 0;
                font-family: text.$family-fra;
                max-width: 7em;
            }
            p{
                margin: 10px 0;
                width:90%;
                font-size: text.$size;
                color: color.$grayBlue;
                line-height: 1.5;
            }
            ul{
                margin: 20px 0;
                display: flex;
                
                
                align-items: center;
                li{
                    list-style: none;
                }
                .first{
                    margin-right: auto;
                    font-size: 30px;
                    color:color.$darkCyan;
                    font-family: text.$family-fra;
                }
                .second{
                    
                    
                    margin-right: auto ;
                    text-decoration: line-through;
                    color: color.$grayBlue;
                    
                }
            }
            button{
                
                outline: none;
                border: none;
                background-color: color.$darkCyan;
                width: 100%;
                font-family: text.$family-mon;
                font-size: text.$size;
                color: color.$white;
                padding: 15px 0px;
                border-radius: 10px;
                margin: 10px 0;
                
                    cursor: pointer;
                &:active{
                    background-color: color.$darkerBlue;
                }
                svg{
                    margin-right: 5px;
                }
            }
        }
        
    }
    
}


@include break.breakpoint(small){
    .App{

        .wrapper{
            flex-direction: column;
            margin: 20px auto;
            img{
                width: 350px;
                
                border-radius: 10px 10px 0 0;
                
            }
            .card{
                transform: translateY(-200px);
                border-radius: 0 0 10px 10px;
                max-width: 350px;
                padding: 1.5rem;
                h3{
                    
                    margin: 0;
                    padding: 0;
                }
                h1{
                    
                    margin: 0;
                    word-wrap: normal;
                    max-width: 20rem;
                }
                p{
                    width: 100%;
                }
                ul{
                    .first{
                        margin-right: 20px;
                    }
                    .second{
                        margin-right: auto;
                    }

                }
            }
        }
    }
}